body{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(37, 37, 37), rgb(83, 83, 83), rgb(97, 97, 97));
}
/*Parte para centralizar e alinhar as imagens.*/

.mae{
    display: flex;
    max-width: 80vw;
    max-height: 80vh;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease;
}

img{
    margin: 6px;
    padding: 4px;
    height: 480px;
    width: 280px;
    border-radius: 15px;
}

#one{
    transition: transform 0.4s ease, margin 0.4s ease;
    margin-top: 20px;
}

#two{
    transition: transform 0.4s ease, margin 0.4s ease;
    margin-bottom: 20px;
}

#there{
    transition: transform 0.4s ease, margin 0.4s ease;
    margin-top: 20px;
}

#four{
    transition: transform 0.4s ease, margin 0.4s ease;
    margin-bottom: 20px;
}


#one:hover{
    transform: scale(1.24);
    padding-left: 24px;
    padding-right: 24px;
    margin: 20px;
    border-radius: 30px;
    margin-top: 25px;
}

#two:hover{
    transform: scale(1.24);
    padding-left: 24px;
    padding-right: 24px;
    margin: 20px;
    border-radius: 30px;
    margin-bottom: 25px;
}

#there:hover{
    transform: scale(1.24);
    padding-left: 24px;
    padding-right: 24px;
    margin: 20px;
    border-radius: 30px;
    margin-top: 25px;
}

#four:hover{
    transform: scale(1.24);
    padding-left: 24px;
    padding-right: 24px;
    margin: 20px;
    border-radius: 30px;
    margin-bottom: 25px;
}